.classpath
.settings/org.eclipse.core.resources.prefs	
idart.properties
lib/swt-debug.jar
lib/swt.jar
src/jdbc.properties
/Reports/*.jasper
Pharmacy.jar
/bin
idart.log*
src/jdbc.properties
/target
/tmp
Reports/tmpPackageProcessing.csv
/nbproject/private/
/build/
*.class
/Reports/
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
